body {
	background: #f8f8f8;
	color: #000000;
	font-size: 1em;
	font-family: sans-serif;
}
h3 {
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.1;
	color: #444;
}

a {
	color: #1b8250;
}

li {
	padding-bottom: 0.75em;
}

.btn:hover, .btn:focus, .btn.focus {
	color: #666;
	text-decoration: none;
}

.btn-primary {
	background: #43a047;
	color: #f2f2f2;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background: #388e3c;
	color: #000000;
	box-shadow: none;
}
.btn-primary:active, .btn-primary.active {
	background: #2e7d32;
	box-shadow: none;
}
.text-center {
	text-align: center;
}
.hint {
	font-size: 0.9em;
	color: #444;
}
